@import url(fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  display: grid;
  gap: 1.5rem;

  border: none;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 1.5rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}

.actions-wrapper {
  display: flex;
  gap: 1rem;

  margin-top: 3rem;
}
